body{
    background: linear-gradient(to right, #ffffff, #0088ff);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.forms{
    background: linear-gradient(to right, #fef3f1, #feb47b);
    padding: 2%;
    border-radius: 20px;
}

.forms h2{
    text-align: center;
}
.btn{
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    background: linear-gradient(to left, #ffffff, #0088ff);
}
.btn a{
    text-decoration: none;
    color: rgb(16, 12, 12);
}
.login{
    text-decoration: none;                      
}
input{
    width: 100%;
    padding: 2%;
    border-color: rgb(49, 49, 49);
    border-radius: 4px;
}

 /* Login Page CSS */

    body {
      font-family: Arial, sans-serif;
      background-color: rgba(255, 255, 0, 0.116);
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header {
      background-color: rgb(255, 255, 62);
        color: black;
        text-align: right;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-title {
      font-size: 20px;
      font-weight: bold;
    }

    header nav a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }

    header nav a:hover {
      text-decoration: underline;
    }

    .login-container {
      background-color: #fff;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 350px;
      margin: 40px auto;
    }

    .login-container h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

    .login-button {
      width: 100%;
      padding: 10px;
      background-color: #23c4ff;
      color: rgb(0, 0, 0);
      border: none;
      font-size: 16px;
      cursor: pointer;
    }

    .login-button:hover {
      background-color: #1976D2;
    }

    .forgot {
      text-align: center;
      margin-top: 10px;
      font-size: 14px;
    }

    .forgot a {
      color: #333;
      text-decoration: none;
    }

    .forgot a:hover {
      text-decoration: underline;
    }

    footer {
      background-color: #2196F3;
      text-align: center;
      padding: 15px 0;
      font-size: 14px;
      margin-top: auto;
      color: white;
    }

    /* Register Page CSS */

    body {
      font-family: Arial, sans-serif;
      background-color: rgba(255, 255, 0, 0.116);
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    